/*************************************************/
/* IMPORTS */
@import 'variables';
@import 'fonts';
@import 'grid';
@import 'mixins';
@import 'general';
@import 'form';

.section-banner {
  position: relative;
  min-height: 100vh;
  right: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;

  &__toggle {
    position: absolute;
    top: 53px;
    right: 50px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
    font-size: rem(14px);
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    @include media-breakpoint-down(lg) {
      top: 30px;
      right: 30px;
      font-size: rem(14px);
      padding: 10px 20px;
      height: 40px;
    }
    &:focus {
      outline: 0;
    }
    &:hover {
      color: #fff;
    }
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 3;
    background-color: #000;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 60px 100px;
    z-index: 1000;
    align-items: center;
    text-align: center;
    @include media-breakpoint-down(lg) {
      text-align: left;
      padding: 40px 30px;
    }

    img {
      height: 30px;

      @include media-breakpoint-down(lg) {
        height: 20px;
      }
    }
  }

  video {
    position: absolute;
    top: -10vh;
    left: 0;
    width: 100vw;
    height: 120vh;
    object-fit: cover;
  }

  &__control {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px 60px;
    z-index: 1000;
    align-items: center;
    text-align: center;

    p {
      color: #fff;
      font-size: rem(20px);
      margin-bottom: 40px;
    }

    img {
      height: 25px;
    }
  }
}

.off-canvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  background: #233646;
  transform: translateX(100%);
  height: 100vh;
  z-index: 10;
  transition: all ease 0.3s;
  @include media-breakpoint-down(lg) {
    width: 100vw;
  }
  &.active {
    transform: translateX(0);
  }
  &__inner {
    padding: 60px 60px 120px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    @include media-breakpoint-down(lg) {
      padding: 40px 30px 120px;
    }
  }
  .form {
    width: 100%;
    &__row {
      display: block;
      margin: 0 0 20px;
      input, textarea {
        border: none;
        border-bottom: 1px solid #FFF;
        color: #FFF;
        font-size: 16px;
        background: transparent;
        padding: 10px 0 5px;
        width: 100%;
        &:focus {
          outline: 0;
        }
        &::placeholder {
          opacity: 1;
          color: #FFF;
        }
      }
      textarea {
        height: 120px;
      }
      &--submit {
        margin-top: 50px;
        input {
          font-weight: 500;
          letter-spacing: 0;
          line-height: 1;
          font-size: rem(14px);
          padding: 12px 25px;
          text-decoration: none;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 25px;
          width: auto;
        }
      }
    }
  }
}

.section-purpose {

  background: #f2f2f2;

  @include media-breakpoint-up(xl) {
    padding: 150px 0 150px;
  }

  .container {
    max-width: 1340px;
  }

  &__image {
    position: relative;
    height: 100%;
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 50vw;
      height: 100%;
      object-fit: cover;
      @include media-breakpoint-down(lg) {
        position: static;
        width: 100%;
        height: auto;
      }
    }
  }

  &__content {
    padding-top: 320px;
    @include media-breakpoint-down(lg) {
      padding-top: 60px;
      padding-bottom: 30px;
    }
    h4 {
      font-size: rem(23px);
      letter-spacing: 0;
      font-weight: 500;
      color: $green;
      margin-bottom: 40px;
    }

    p {
      font-weight: 300;
      font-size: rem(18px);

      @include media-breakpoint-up(lg) {
        font-size: rem(16px);
      }

      @include media-breakpoint-up(xl) {
        font-size: rem(20px);
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.section-image {
  height: 100vh;
  @include bg-image-pos(center);
}

.section-about {

  .container {
    max-width: 1340px;
    .row {
      align-items: flex-end;
    }
  }

  &__image {
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    img {
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
  }

  &__content {

    margin-bottom: 30px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    h4 {
      font-size: rem(23px);
      letter-spacing: 0;
      font-weight: 500;
      color: $green;
      margin-bottom: 0;
    }

    h5 {
      font-size: rem(23px);
      letter-spacing: 0;
      font-weight: 300;
      margin-bottom: 30px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
      }
    }

    p {
      font-weight: 300;
      font-size: rem(18px);

      @include media-breakpoint-up(lg) {
        font-size: rem(16px);
      }

      @include media-breakpoint-up(xl) {
        font-size: rem(20px);
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      margin-top: 30px;

      @include media-breakpoint-up(lg) {
        margin-top: 50px;
      }
    }
  }
}

.footer {
  padding: 70px 0;

 .container {
   max-width: 1340px;
   p {
     color: #aaa;
     margin-bottom: 0;
   }
 }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    &-email {
      margin-bottom: 50px;
      min-width: 200px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }

      h5 {
        letter-spacing: 0;
        font-size: rem(16px);
        color: #fff;
      }
    }

    &-subscribe {
      margin-bottom: 50px;
      max-width: 300px;

      @include media-breakpoint-up(lg) {
        min-width: 350px;
        margin-bottom: 0;
      }

      label {
        letter-spacing: 0;
        color: #fff;
        margin-bottom: 3px;
        display: block;
      }

      input {
        padding: 5px 0 3px 0;
        width: 100%;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #fff;

        &::placeholder {
          font-weight: 300;
          opacity: 0.5;
        }
      }
    }

    &-socials {
      min-width: 200px;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      text-align: right;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }

      a {
        font-weight: 500;
        letter-spacing: 0;
        margin-bottom: 3px;
        line-height: 1;
        font-size: rem(14px);
        text-decoration: none;
        color: #fff;
        opacity: 0.5;
      }
    }
  }
}